.vault-password
.github
.infrastructure
!.infrastructure/**/local-ca.pem
Dockerfile
docker-*.yml
.gitlab-ci.yml
.spin*

# Development files
node_modules
public/hot
storage/logs/*
.env.local
.env.development
