.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-btn {
    display: flex;
    color: black;
    height: 40px;
    border: 1px solid #BFBFBF;
    background-color: white;
    padding: 5px 20px;
    cursor: pointer;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fafbfc;
    width: 100%;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .dropdown-content a {
    padding: 10px 16px;
    display: block;
    color: black;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-image: linear-gradient(to right, #F48E2E, #F6B271);
    color: white;
  }

  
  