.content-container {
    display: grid;
    grid-template: 
    'leftNav content' / 360px;
}

.content {
    grid-area: content;
}

.side-nav-container{
    grid-area: leftNav;
    background-color: white;   
    max-width: 360px;
    height: 100%; 
}

.side-nav {
    display: grid;
    background-image: linear-gradient(to right, #F48E2E, #F6B271);
    color: white;
    padding: 10px;
    gap: 6px;
}


.task-remain {
    display: grid;
    justify-content: right;
    align-items: center;
    text-align: center;
    padding-right: 30px;
    padding-top: 10px;
    height: 50px;
}

.task-department {
    display: grid;
    padding: 10px 30px;
    gap: 20px;
}

